<h1>Dynamic form</h1>

<form [formGroup]="dynamicForm">
  <div *ngFor="let formItem of dynamicFormFields">
    <div *ngIf="!formItem.values; else withValues">
      <app-dynamic-form-field 
        *ngIf="!formItem.values; else withValues"
        [id]="formItem.id" 
        [title]="formItem.title || ''" 
        [type]="formItem.type"
        [form]="dynamicForm"
        (onBlurEmitted)="onBlurEmittedFromChildren($event)" 
      ></app-dynamic-form-field>
    </div>
    <ng-template #withValues>
      <label>{{formItem.title}}</label>
      <div *ngFor="let value of formItem.values">
        <label>{{value}}</label>
        <input 
          [type]="formItem.type" 
          [value]="value"
          [formControlName]="formItem.id"
        >
      </div>
    </ng-template>
  </div>
</form>


<pre>
  {{dynamicForm.value | json}}
</pre>

<div>
  {{onBlurEmittedMessage}}
</div>